/* header styles */

.jumbotron {
	margin-top: 2rem;
	margin-bottom: 2 rem;
	padding: .75rem;
}

.navbar {
	background-color: #000;
	color: #fff;
}

.navbar a {
	color: #fff;
}

.navbar a:hover {
	color: #666;
}

.nav-item.active a {
	color: #00FF00;
}

/* content and body styles */

 body {
 	background-image: url("../img/background.jpg");
 	background-color: #cccccc;
 	height: 1000px; /* You must set a specified height */
 	background-position: center; /* Center the image */
 	background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover; /* Resize the background image to cover the entire container */
}

h1, h2, h3, p {
	color: #666;
}

.dark_div {
	background-color: #000;
}

.light_div {
	background-color: #fff;
}

.my_button {
	background-color: #666;
	color: #fff;
}

.my_card {
	padding: .75rem;
}

a {
	color: #00FF00;
}

a:hover{
	color: #000;
}

a {
	color: #00FF00;
}

.category {
	color: #00FF00;
	text-align: right;
}

.subheading {
	color: #000;
	margin-bottom: 2rem;
	padding: 1rem;
}

.page_heading {
	color: #000;
	padding: 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-right: auto;
	margin-left: auto;
}

.intro {
	padding: .5rem;
}

.post {
	padding: 1rem;
	float: left;
}

.project_list {
	margin-top: 2rem;
	padding: .75rem;
}

.list-group-item {
	background-color: #fff;
	color: #000;  
}

.list-group-item.active {
	color: #00FF00;
	background-color: #666;  
}

.tab-content {
	background-color: #fff;
	color: #000;
	padding: 1rem;
}

.explanation {
	padding: .5rem;
	text-align: left;
}

.about {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* footer styles */ 

footer.footer a {
	color: #666;
	text-align: center;
}

.footer {
	margin-top: 1rem;
	text-align: center;
	color: #666;
}

